/* about us */
div#aboutContent {
    /*position: absolute;*/
    width: 100%;
    top: 100px;
    left: 0;
    height: 1260px;
    overflow: hidden;
    font-weight: bold;
}
.companyInfo,.companyInfo2,.companyInfo3{
    height: 200px;
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    display: flex;
}
.companyInfo2{
    top: 130px;
}
.companyInfo3{
    top: 1100px;
}
#c1{
    height: 80px;
    width: 200px;
    background: rgb(65 116 141);
    vertical-align: middle;
    margin: 0 auto;
    text-align: center;
    line-height: 69px;
    font-size: xx-large;
    font-weight: 900;
    color: #FFFFFF;
    box-shadow: 7px 7px 8px #C1C1C1;
    text-shadow: 1px 1px 2px #4C1010;
    border-radius: 10px;
}
#c1>span{
    font-size: 11px;
    line-height: 6px;
    position: relative;
    top: -50px;
}
#c2,#c2small{
    height: 80px;
    width: 580px;
    background: rgba(3, 39, 58, 0.17);
    margin: 0 auto;
    line-height: 25px;
    font-size: 15px;
    color: #424242;
    box-shadow: 7px 7px 8px #C1C1C1;
    border-radius: 10px;
    padding: 10px;
    margin-left: -100;
}
#c2>div{
    margin: 15px 0px;
}
#c2>div>span{
    font-size: 13px;
    position: relative;
    white-space: pre-wrap;
    /*line-height: 16px;*/
}
#aboutContent>img{
    position: absolute;
    top: 370px;
    left: 50%;
    margin-left: -390px;
    margin-bottom: 20px;
    transform: scale(0.8);
}